<div class="collapsed">
    <div class="popover-region-toggle nav-link" data-region="popover-region-toggle" role="button">
        <a href="{{url}}"><i class="icon fa fa-bell fa-fw "></i></a>
    </div>
</div>