<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{url_form}}">Оповещение</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_history}}">История</a>
    </li>
</ul>